[submodule "cookbooks/php"]
	path = cookbooks/php
	url = https://github.com/opscode-cookbooks/php.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/xml"]
	path = cookbooks/xml
	url = https://github.com/opscode-cookbooks/xml
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl
[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = https://github.com/opscode-cookbooks/apache2
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/opscode-cookbooks/git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum
[submodule "cookbooks/drush"]
	path = cookbooks/drush
	url = https://github.com/ksorokin/chef-drush.git
[submodule "cookbooks/varnish"]
	path = cookbooks/varnish
	url = https://github.com/opscode-cookbooks/varnish
[submodule "cookbooks/solr"]
	path = cookbooks/solr
	url = https://github.com/hipsnip-cookbooks/solr.git
[submodule "cookbooks/hipsnip-jetty"]
	path = cookbooks/hipsnip-jetty
	url = https://github.com/hipsnip-cookbooks/jetty
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "cookbooks/chef_handler"]
	path = cookbooks/chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler
[submodule "cookbooks/cron"]
	path = cookbooks/cron
	url = https://github.com/opscode-cookbooks/cron
[submodule "cookbooks/nginx"]
	path = cookbooks/nginx
	url = https://github.com/opscode-cookbooks/nginx
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "cookbooks/ohai"]
	path = cookbooks/ohai
	url = https://github.com/opscode-cookbooks/ohai
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = https://github.com/opscode-cookbooks/runit
[submodule "cookbooks/7-zip"]
	path = cookbooks/7-zip
	url = https://github.com/opscode-cookbooks/7-zip.git
[submodule "cookbooks/ark"]
	path = cookbooks/ark
	url = https://github.com/opscode-cookbooks/ark.git
[submodule "cookbooks/bluepill"]
	path = cookbooks/bluepill
	url = https://github.com/opscode-cookbooks/bluepill.git
[submodule "cookbooks/chef-sugar"]
	path = cookbooks/chef-sugar
	url = https://github.com/sethvargo/chef-sugar.git
[submodule "cookbooks/hostsfile"]
	path = cookbooks/hostsfile
	url = https://github.com/customink-webops/hostsfile.git
[submodule "cookbooks/iis"]
	path = cookbooks/iis
	url = https://github.com/opscode-cookbooks/iis.git
[submodule "cookbooks/iptables"]
	path = cookbooks/iptables
	url = https://github.com/opscode-cookbooks/iptables.git
[submodule "cookbooks/logrotate"]
	path = cookbooks/logrotate
	url = https://github.com/opscode-cookbooks/logrotate.git
[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = https://github.com/redguide/nodejs.git
[submodule "cookbooks/php-fpm"]
	path = cookbooks/php-fpm
	url = https://github.com/yevgenko/cookbook-php-fpm.git
[submodule "cookbooks/rsyslog"]
	path = cookbooks/rsyslog
	url = https://github.com/opscode-cookbooks/rsyslog.git
[submodule "cookbooks/yum-epel"]
	path = cookbooks/yum-epel
	url = https://github.com/opscode-cookbooks/yum-epel.git
[submodule "cookbooks/yum-mysql-community"]
	path = cookbooks/yum-mysql-community
	url = https://github.com/opscode-cookbooks/yum-mysql-community.git
[submodule "cookbooks/composer"]
	path = cookbooks/composer
	url = https://github.com/escapestudios-cookbooks/composer
